.table-section {
  width: 100%;
  overflow: hidden;
  border-top: none;
  box-shadow: unset !important;
  .table-container {
    border: 0.06rem solid #e3e3e8;
    max-height: calc(100vh - 18.4rem);
    border-radius: 0.5rem;
    .table {
      .table-head {
        .table-tr {
          .table-th {
            background-color: #141414;
            padding: 0.813rem;
            .item-title {
              flex: unset;
              span {
                color: #fcfcfc;
                font-size: 1rem;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                white-space: nowrap;
              }
            }
          }
        }
      }
      .table-body {
        .table-tr {
          .table-td {
            border-bottom: 0.06rem solid #e3e3e8;
            color: #141414;
            font-size: 0.9rem;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            padding: 0.813rem;
            white-space: nowrap;
          }
        }
      }
    }
  }
}
.phrase-title{
  text-align: center;
  padding: 2rem;
}
.top-section {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: end;
  margin: 0.8rem 0rem 1.8rem;
  .dropdown-box{
    min-width:100px;
    padding: 4px;
  }
  .search-box {
    width: 20%;
    border-radius: 0.5rem;
    border: 0.06rem solid #e3e3e8;
    padding: 0.2rem;
    display: flex;
    div {
      width: 100%;
    }
    .custom-input {
      width: 93%;
      padding-right: 0.5rem;
    }
  }
}
